a {
  text-decoration: none;
}


/* ------------ App Styles ------------ */
.header {
  height: 26px;
  background: linear-gradient(to bottom, #E5E5E5 0%, #A0A0A0 100%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 20px 3px rgba(0, 0, 0, 0.5), 0px 0px 0px 1px black;
}
.header .menu-barr {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .menu-barr li {
  float: left;
}
.header .menu-barr li a {
  display: block;
}
.header .menu-barr.iconns {
  float: right;
}
.header .menu-barr li {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  height: 26px;
}
.header .menu-barr li:last-of-type {
  margin-right: 16px;
}
.header .menu-barr li:active a, .header .menu-barr li.active a {
  background: linear-gradient(to bottom, #6485F5 0%, #275AF2 100%);
  color: #fff;
}
.header .menu-barr li:active a i.iconn, .header .menu-barr li.active a i.iconn {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-menu-icons_active.png");
  background-repeat: no-repeat;
}
.header .menu-barr li:active a i.iconn.spotlight:after, .header .menu-barr li.active a i.iconn.spotlight:after {
  background: #1E4CE8;
  position: absolute;
  top: 23px;
  content: "";
  width: 36px;
  height: 1px;
  margin-left: -11px;
}
.header .menu-barr li a {
  cursor: default;
  height: 26px;
  color: #000;
}
.header .menu-barr li a#clock {
  padding: 0 7px 0 8px;
}
.header .menu-barr li a i.iconn {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-menu-icons.png");
  height: 26px;
  width: 23px;
  display: inline-block;
}
.header .menu-barr li a i.iconn.notification {
  background-position: -582px    0;
  width: 26px;
  padding: 0 4px 0  5px;
}
.header .menu-barr li a i.iconn.spotlight {
  background-position: -547px    0;
  width: 16px;
  padding: 0 9px 0 11px;
}
.header .menu-barr li a i.iconn.volume {
  background-position: -516px    0;
  width: 17px;
  padding: 0 6px 0  7px;
}
.header .menu-barr li a i.iconn.battery {
  background-position: -353px    0;
  width: 23px;
  padding: 0 5px 0  4px;
}
.header .menu-barr li a i.iconn.wifi {
  background-position: -412px -1px;
  width: 23px;
  padding: 0 3px 0 4px;
}
.header .menu-barr li a i.iconn.bluetooth {
  background-position: -382px    0;
  width: 13px;
  padding: 0 8px 0 9px;
}
.header .menu-barr li a:hover {
  text-decoration: none;
}

.spotlight-search {
  margin-top: 1px;
  margin-right: 46px;
  width: 430px;
  float: right;
  position: relative;
  display: none;
}
.spotlight-search.active {
  display: block;
}
.spotlight-search .input {
  background: linear-gradient(to bottom, #6485F5 0%, #275AF2 100%);
  height: 30px;
  border-bottom: 1px solid #1E4CE8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.4);
}
.spotlight-search .input span {
  float: right;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
  line-height: 30px;
}
.spotlight-search .input input {
  float: right;
  margin: 4px 12px 0 15px;
  padding: 4px 10px;
  border: 1px solid #3E559F;
  width: 291px;
  height: 22px;
  line-height: 12px;
  font-size: 12px;
  border-radius: 1em;
}
.spotlight-search .input input:focus {
  outline-width: 0;
}
.spotlight-search .results {
  font-size: 12px;
  margin: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-results-bg.gif") repeat-y right #fff;
  padding: 0 0 5px 0;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 0 0 0 1px #B5B5B5, 0 4px 8px rgba(0, 0, 0, 0.2);
}
.spotlight-search .results ul.section {
  margin: 0;
  padding: 9px 0 0;
  list-style: none;
}
.spotlight-search .results ul.section li a {
  padding: 0 0 0 125px;
  display: block;
  color: #333;
  line-height: 20px;
  cursor: default;
}
.spotlight-search .results ul.section li a .result {
  display: none;
}
.spotlight-search .results ul.section li a:hover, .spotlight-search .results ul.section li a .active {
  background: linear-gradient(to bottom, #7693F5 0%, #265AF2 100%);
  color: #fff;
  text-decoration: none;
}
.spotlight-search .results ul.section li a:hover .result, .spotlight-search .results ul.section li a .active .result {
  display: block;
  position: absolute;
  margin: -75px 0 0 -531px;
  color: #000;
  border: 1px solid #B5B5B5;
  background: linear-gradient(to bottom, #FDFDFD 0%, #EAEAEA 100%);
  width: 372px;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  -o-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.spotlight-search .results ul.section li a:hover .result i, .spotlight-search .results ul.section li a .active .result i {
  float: left;
  display: block;
  margin-right: 10px;
}
.spotlight-search .results ul.section li a:hover .result i.folder, .spotlight-search .results ul.section li a .active .result i.folder {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-results-icons.png");
  height: 16px;
  width: 16px;
  background-position: 0 -16px;
  width: 112px;
  height: 90px;
}
.spotlight-search .results ul.section li a:hover .result .details, .spotlight-search .results ul.section li a .active .result .details {
  float: left;
}
.spotlight-search .results ul.section li a:hover .result .details div, .spotlight-search .results ul.section li a .active .result .details div {
  margin: 5px 0;
}
.spotlight-search .results ul.section li a:hover .result .details div.title, .spotlight-search .results ul.section li a .active .result .details div.title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.spotlight-search .results ul.section li a:hover .result.website, .spotlight-search .results ul.section li a .active .result.website {
  margin: -75px 0 0 -639px;
  width: 500px;
  height: 500px;
  padding: 3px 0 0 0;
}
.spotlight-search .results ul.section li a:hover .result.website .page-display, .spotlight-search .results ul.section li a .active .result.website .page-display {
  width: 990px;
  height: 998px;
  position: absolute;
  margin: -50% 0 0 -50%;
  padding-left: 6px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 10px;
}
.spotlight-search .results ul.section li a:hover .result.website:after, .spotlight-search .results ul.section li a .active .result.website:after {
  left: 200px;
}
.spotlight-search .results ul.section li a:hover .result.image, .spotlight-search .results ul.section li a .active .result.image {
  height: auto;
  width: 270px;
  padding: 2px 5px 0px 2px;
}
.spotlight-search .results ul.section li a:hover .result.image img, .spotlight-search .results ul.section li a .active .result.image img {
  border: 1px solid #ccc;
  width: 270px;
  height: auto;
  border-radius: 3px;
}
.spotlight-search .results ul.section li a:hover .result:after, .spotlight-search .results ul.section li a .active .result:after {
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent #F5F5F5;
  border-width: 12px;
  position: absolute;
  left: 276px;
  top: 52px;
  box-shadow: inset 0 0 1px #000;
  -webkit-filter: drop-shadow(1px 0 0 #B5B5B5);
  -moz-filter: drop-shadow(1px 0 0 #B5B5B5);
  -ms-filter: drop-shadow(1px 0 0 #B5B5B5);
  -o-filter: drop-shadow(1px 0 0 #B5B5B5);
  filter: drop-shadow(1px 0 0 #B5B5B5);
}
.spotlight-search .results ul.section.no-preview {
  padding: 6px 0 0;
}
.spotlight-search .results ul.section.no-preview li a {
  line-height: 17px;
}
.spotlight-search .results ul.section.no-preview li a .result {
  display: none !important;
}
.spotlight-search .results ul.section.lbl li:first-of-type:before {
  content: "label";
  font-size: 11px;
  position: absolute;
  color: #8C8C8C;
  line-height: 20px;
  width: 100px;
  text-align: right;
}
.spotlight-search .results ul.section.lbl li:hover:first-of-type:before {
  color: #fff;
}
.spotlight-search .results ul.section.lbl.top-hit li:first-of-type:before {
  content: "Top Hit" !important;
}
.spotlight-search .results ul.section.lbl.folders li:first-of-type:before {
  content: "Folders";
}
.spotlight-search .results ul.section.lbl.folders li a > span {
  margin-left: 24px;
}
.spotlight-search .results ul.section.lbl.folders li a:before {
  content: "";
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-results-icons.png");
  height: 16px;
  width: 16px;
  margin-top: 1px;
}
.spotlight-search .results ul.section.lbl.web li:first-of-type:before {
  content: "Websites";
}
.spotlight-search .results ul.section.lbl.web li a span {
  margin-left: 24px;
}
.spotlight-search .results ul.section.lbl.web li a:before {
  content: "";
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-results-icons.png");
  height: 16px;
  width: 16px;
  background-position: -16px 0;
  margin-top: 1px;
}
.spotlight-search .results ul.section.lbl.images li:first-of-type:before {
  content: "Images";
}
.spotlight-search .results ul.section.lbl.images li a span {
  margin-left: 24px;
}
.spotlight-search .results ul.section.lbl.images li a:before {
  content: "";
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5102/spotlight-results-icons.png");
  height: 16px;
  width: 16px;
  background-position: -32px 0;
  margin-top: 1px;
}

.loading-wrapper {
  position: absolute;
  z-index: 10;
  top: 7px;
  margin-left: 10px;
}

.loading {
  height: 16px;
  width: 16px;
  margin: 0 auto;
  opacity: 0.6;
  -webkit-animation: spin 0.5s steps(12, end) infinite;
  -moz-animation: spin 0.5s steps(12, end) infinite;
  animation: spin 0.5s steps(12, end) infinite;
}

.demo {
  text-align: center;
  bottom: 50%;
  left: 43%;
  position: absolute;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 0 #000;
  display: none;
}
.demo.active {
  display: block;
}
.demo .click {
  font-size: 1.3rem;
  font-weight: 200;
}

.apple-logo.click {
  content: url('./images/a2.png');
}

.apple-logo.active {
  content: url('./images/a2.png');
}